.navbar ul li a{
    text-decoration: none;
    color: rgb(95, 55, 55);
    border: 2px solid turquoise;
    border-radius: 4px;
    background-color: rgba(222, 184, 135, 0.61);
    text-align: center;
}
        .navbar ul li a:hover{
            background-color: chartreuse;
        }
        .navbar ul{
            list-style: none;
            display: flex;
            gap: 30px;
            background-color: aliceblue;
            border-radius: 8px;
            width: 860px;
            height: 50px;
            align-items: center;
}
.navbar ul:hover{
    background-color: cornsilk;
}